<div class="modal fade in" id="login">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3 class="text-center"> Sign In</h3>
  </div>
  <div class="modal-body">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <%= f.email_field :email, :autofocus => true, placeholder: 'Email Address', class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
          </div>
        </div>
        <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%>
        <div class="modal-footer">
          <div><%= f.submit "Sign In", :class => 'btn btn-lg btn-block btn-primary' %></div>
          <p>

          <div><a href="#sign_up" data-toggle="modal" data-dismiss="modal">Sign up</a></div>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <div>
                <%= link_to "Forgot your password?", new_password_path(resource_name) %><br/>
              </div>
          <% end -%>

          <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                  <div>
                    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %>
                  </div>
              <% end -%>
          <% end -%>
          </p>
        </div>
    <% end %>
  </div>
</div>